.lets-connect {

   &__submit-button {
      transition: all .3s;
   }

   &__submit-button:hover {
      color: rgb(248,88,73) !important;
      border: 2px solid rgb(248,88,73) !important;
   }

   &__submit-button:active {
      background-color: rgb(248,88,73) !important;
      color: white !important;
   }
}

@media only screen and (max-width: 767px) {
   .lets-connect {
      &__input-container {
         flex-direction: column !important;
      }

      &__input {
         margin-left: 0 !important;
         margin-right: 0 !important;
      }
   }
}