@media only screen and (max-width: 767px) {
   .lets-connect {
      &__input-container {
         flex-direction: column !important;
      }

      &__input {
         margin-left: 0 !important;
         margin-right: 0 !important;
      }
   }
}