#my-work {
	background-color: $primary-color;

	// .services {
	// 	button {
	// 		transition: all 0.3s;
	// 	}

	// 	button:hover {
	// 		background-color: white !important;
	// 		color: $primary-color !important;
	// 	}
	// }

	@media only screen and (max-width: 767px) {
    .services {
      flex-direction: column !important;
      align-items: center !important;
      margin-bottom: 0 !important;

      & > div {
        width: 100% !important;
        // text-align: center !important;
        margin-bottom: 2.5rem;
      }
    }
  }
}
